# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Ignore Visual Studio files and folders
.vs/
*.suo
*.user
*.sln.docstates

# Ignore database files
*.mdf
*.ldf
*.db



# Ignore build output
bin/
obj/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Flask specific
instance/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?